@mixin dropdown-input-style() {
    background-color: transparent;
    color: $light;
    border: 0;
    border-bottom: 1px solid $light;
    border-radius: 0;
    padding-left: 0;
    
    &::placeholder {
        color: $light !important;
    }

    &:focus {
        background-color: transparent;
        color: $light;
        border-bottom: 2px solid $light;
    }
}

@mixin dropdown-width($width, $min-width, $max-width) {
    width: $width;
    min-width: $min-width; 
    max-width: $max-width;
}